doctype
html
  head
    title JS keyboard
    script(src="jquery.min.js")
    script(src="../node_modules/angular/angular.min.js")  
    script(src="keyboard.js")
    script(src="app.js")
    link(rel="stylesheet",href="styles.css")    
  body(ng-app="app")
    div(ng-controller="MainCtrl")
      textarea(id="input-div",class="input-div", ng-model="input")
      br
      keyboard-div(input-div="input-div")
    
