<textarea id="input-div" class="input-div"></textarea><br/>
<div id="numpad" class="numpad">
  <div id="row-0" class="row">
    <div class="col-half"></div>
    <div id="col-00" class="col-5"></div>
    <div id="col-01" class="col-5"></div>
    <div id="col-02" class="col-5"></div>
    <div class="col-half"></div>
  </div>
  <div id="row-1" class="row">
    <div class="col-half"></div>
    <div id="col-10" class="col-5"></div>
    <div id="col-11" class="col-5"></div>
    <div id="col-12" class="col-5"></div>
    <div class="col-half"></div>
  </div>
  <div id="row-2" class="row">
    <div class="col-half"></div>
    <div id="col-20" class="col-5"></div>
    <div id="col-21" class="col-5"></div>
    <div id="col-22" class="col-5"></div>
    <div class="col-half"></div>
  </div>
  <div id="row-3" class="row">
    <div class="col-half"></div>
    <div id="col-30" class="col-5"></div>
    <div id="col-31" class="col-5"></div>
    <div id="col-32" class="col-5"></div>
    <div class="col-half"></div>
  </div>
</div>
